<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Trabalho realizado por:</p>
  <ion-item>
    Paulo Venones da Silva RA: 21468254
  </ion-item>
  <ion-item>
    Rafael Oliveira de Araújo RA: 21452978
  </ion-item>
  <ion-item>
    Thiago Diniz Cabral RA: 21442918
  </ion-item>
  <ion-item>
    Vinicius Hidenori Kinjo RA: 21445884
  </ion-item>
  <ion-item>
    Yago Aparecido dos Santos Silva RA: 20085123
  </ion-item>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>©copyright - Game Over 2021</ion-title>
  </ion-toolbar>
</ion-footer>
