<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let p of produtos">
      <p slot="start">
        {{p.count}}
      </p>
      <ion-label>
        {{p.nome}}
      </ion-label>

      <ion-avatar slot="end">
        <ion-img [src]="p.img"></ion-img>
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="sucess">
    <ion-button expand="full" (click)="checkout()" fill="clear" color="primary">
      Checkout
    </ion-button>
  </ion-toolbar>
</ion-footer>
